#infoHeader{
    font-size: 3vw;
    font-weight: bold;
    font-style: italic;
}

#oee-status-circle{
    position: absolute;
    border-radius: 50%;
    width: 2.5vw;
    height: 2.5vw;
    top: 25%;
    left: 85%;
}

#previous-shifts thead{
    background-color: #0ABDA0;
    font-weight: bold;
    font-size: 25px;
}
#previous-shifts thead th{
    padding: 0px !important;
    color: white;
      border: black 1px solid !important;
    font-size: 20px;
}
#previous-shifts td{
    padding: 0px !important;
    color: black;
    font-size: 25px;
    font-weight: bold;
    border: none;
}

 .th-capacity{
    background-color: #CAFAFE;
    font-weight: bold;
    font-size: 1vw;
    color: black !important;

    
}
.th-plan{
    background-color: #80ADD7;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}
 .th-real{
    background-color: #0294A5;
    font-weight: bold;
    font-size: 1vw;
    color: white;
}

body{
    background-color: #ffffff !important;
}

#current-shift table{
    text-align: center;
    /* border: black 1px solid; */
    padding: 0px !important;
}
#current-shift table td{
    text-align: center;
    border: black 1px solid;
    font-weight: bold;
    
}
#current-shift table th{
    text-align: center;
    border: black 1px solid;
    font-size: 25px;
}
#current-shift table .td-cause{
    background-color: lightgray;
    border: black 1px solid;
}

.modal-header{
    background-color: #0294A5;
    text-align: center !important;
}

.flash{
    animation-name: flash-status;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes flash-status{
    0%{
        background-color: #ED2939;
    }
    50%{
        background-color: #9D0025;
        opacity: 0.3;
    }
    100%{
        background-color: #e52325;
    }
}

.stoppage-card{
    background-color: red;
    border-radius: 50%;
    height: 1.3vw;
    width: 1.3vw;
    
}
.minor-stoppage-card{
    background-color: #ffea00;
    border-radius: 50%;
     height: 1.3vw;
    width: 1.3vw;
}

#next-stoppage-btn, #previous-stoppage-btn{
    height: 50px;
    width: 150px;
}

.selected-stoppage-type{
    border: 5px solid black;
}